%%======================================================================
%%
%% Leo Redundant Manager
%%
%% Copyright (c) 2012 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{mode,      max}.
{duration,    3}.
{concurrent,  5}.

{driver, basho_bench_driver_leo_redundant_manager}.
{code_paths, ["deps/leo_redundant_manager",
              "deps/leo_logger",
              "deps/leo_backend_db",
              "deps/leo_mq",
              "deps/leo_commons"]}.

{key_generator,   {uniform_int, 1000000}}.
{operations, [{get, 1}]}.

